@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Tiny5&display=swap");

body {
  color: rgb(200 200 200);
  font-family: "Pixelify Sans", sans-serif;
  background-color: rgb(45, 45, 45);
  font-size: 150%;
}

.tiny5-regular {
  font-family: "Tiny5", serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-mono {
  font-family: "Roboto Mono", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.pixelify-sans {
  font-family: "Pixelify Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
